<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form [formGroup]="applyForm" (submit)="submitRegistrationForm()" novalidate class="needs-validation">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" formControlName="email" required>
                  </div>
                  <div class="col-sm-6">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" required>
                  </div>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label for="employeeNumber" class="form-label">Employee Number</label>
                    <input type="text" class="form-control" id="employeeNumber" formControlName="employeeNumber" required>
                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>  
            <div class="row">
                <div class="col-sm-4"></div>
                <button type="submit" class="btn btn-primary col-sm-4">Submit</button>
            </div>  
            <!-- mettre le message d'erreur pour un refus d'inscription -->
            <div *ngIf="errorMessage">
                <p>{{ errorMessage }}</p>
            </div>
            <div class="row">
                <div class="col-sm-4"></div>
                <a routerLink="/login" class="col-sm-4">Se connecter</a>
            </div>
        </div>
      </form>
      </div>
